# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.vs/bot/v15/.suo
*.db
*.ipch
*.so
*.dll
*.exp
*.lib
*.tlog
*.dll
*.o
*.obj
Release/bot.vcxproj.FileListAbsolute.txt
.vs/bot/v16/.suo
.vs/bot/v16/Browse.VC.opendb
*.cfg
*.cmd
*.rsp
*.i
.vs/bot/v16/.suo
beta/bot.cbp
beta/bot.layout
beta/Makefile
bot.cbp
Release/vc142.pdb
Release/vc141.pdb
Release/util.obj
Release/util.cpp.o.d
Release/ricobot_mm.lib
Release/ricobot_mm.exp
Release/ricobot_mm.dll
Release/ricobot_mm.Build.CppClean.log
Release/h_export.obj
Release/h_export.cpp.o.d
Release/engine.obj
Release/engine.cpp.o.d
Release/dll.obj
Release/dll.cpp.o.d
Release/bot_client.obj
Release/bot_client.cpp.o.d
Release/bot.tlog/link.write.1.tlog
Release/bot.tlog/link.read.1.tlog
Release/bot.tlog/link.command.1.tlog
Release/bot.tlog/CL.write.1.tlog
Release/bot.tlog/CL.read.1.tlog
Release/bot.tlog/CL.command.1.tlog
Release/bot.tlog/bot.write.1u.tlog
Release/bot.tlog/bot.lastbuildstate
Release/bot.obj
Release/bot.log
Release/bot.lastbuildstate
Release/bot.cpp.o.d
Release/.d
*.cbp
